name: 3D-Skyline-Animation

on:
  schedule:
    - cron: "0 0 * * *" # Runs daily
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: mahad2006
          template: classic
          base: ""
          config_timezone: Asia/Karachi
          
          # This enables the 3D Rotating City
          plugin_skyline: yes
          plugin_skyline_year: 2024
          plugin_skyline_frames: 60 # 60 Frames = Smooth Animation
          plugin_skyline_quality: 0.5
          plugin_skyline_compatibility: yes
